.leaders-section {
  width: 31.1rem;
  margin-inline: auto;
}

.leaders-title {
  color: var(--clr-dark-blue);
  margin-bottom: 6.4rem;
}

.leaders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

@media (min-width: 768px) {
  .leaders-section {
    width: 100%;
  }

  .leaders-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
    column-gap: 1.1rem;
  }
}

@media (min-width: 1440px) {
  .leaders-section {
    display: flex;
    justify-content: space-between;
  }
}