:root {
  --clr-dark-blue: hsl(225, 13%, 12%);
  --clr-dark-gray: hsl(224, 6%, 40%);
  --clr-medium-gray: hsl(224, 8%, 53%);
  --clr-light-gray: hsl(225, 17%, 82%);
  --clr-very-light-gray: hsl(230, 21%, 95%);
  --clr-white: hsl(255, 100%, 100%);
  --clr-red: hsl(0, 68%, 61%);

  --ff-spartan: 'Spartan', sans-serif;

  --fw-500: 500;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--fw-500);
}

body {
  font-family: var(--ff-spartan);
  background-color: var(--clr-white);
  color: var(--clr-dark-gray);
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}