.content-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms, visibility 200ms;
}

.content-container--active {
  visibility: visible;
  opacity: 1;
}

.content-title {
  color: var(--clr-white);
}

.content {
  color: var(--clr-white);
}

.button {
  margin-top: 4.2rem;
}

@media (min-width: 768px) {
  .button {
    margin-top: 2.5rem;
  }
}